.successTab span {
  color: #3a9bdc !important;
}
.react-tabs__tab--selected {
  background: #002a36;
  color: #ffffff;
}
#list-title {
  color: #a7a9ac;
  text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 7px;
  text-align: center;
}
